<div class="container">

  <div class="row">
    <div class="col">
      Message
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <app-building-details></app-building-details>
    </div>
    <div class="col">
      <app-nickname-editor [nicknames]="nicknames"
                           [syncValidators]="syncValidators"
                           [asyncValidators]="asyncValidators"
                           (save)="onSave($event)"
                           (delete)="onDelete($event)"
                           (add)="onAdd($event)">
      </app-nickname-editor>
    </div>
  </div>
</div>
