<div id="input" class="form-group">
  <label for="newNickname">{{label}}</label>
  <div class="input-group">
    <input id="newNickname"
           class="form-control"
           type="text"
           autocomplete="off"
           [placeholder]="placeholder"
           [formControl]="formControl"
           [class.is-invalid]="showError(formControl)"
           [autofocus]="autofocus">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-primary"
              [disabled]="!canSave(formControl)"
              (click)="onAdd()"
      >Add</button>
    </div>

    <div class="invalid-feedback" *ngIf="showError(formControl)">
      <span *ngIf="formControl.errors?.required">Nickname is required</span>
      <span *ngIf="formControl.errors?.format">{{formControl.errors.format.message}}</span>
    </div>
  </div>
</div>
