<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <fa-icon class="app-icon" size="lg" [icon]="appIcon"></fa-icon>
  <a class="navbar-brand" href="#">
    <span>{{appTitle}}</span>
  </a>
</nav>

<!--<div class="container">-->
<!--  <nav aria-label="breadcrumb">-->
<!--    <ol class="breadcrumb">-->
<!--      <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--      <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--      <li class="breadcrumb-item active" aria-current="page">Data</li>-->
<!--    </ol>-->
<!--  </nav>-->
<!--</div>-->

<app-building></app-building>
<router-outlet></router-outlet>
