<div class="card">

  <div class="card-header d-flex justify-content-between">
    <h4 class="mb-0">Nickname Editor</h4>

    <button type="button" (click)="onToggle()" class="btn btn-outline-secondary btn-sm" role="button"
            aria-controls="input">
      <span><fa-icon [icon]="addIcon" class="mr-2"></fa-icon></span>
      <span>New</span>
    </button>

  </div>

  <div *ngIf="isEmpty(); then empty else list"></div>

  <ng-template #list>
    <ul class="list-group list-group-flush" [ngbCollapse]="isCollapsed">
      <li class="list-group-item">
        <app-nickname-factory placeholder="New Nickname"
                              label="Nickname"
                              [syncValidators]="syncValidators"
                              [asyncValidators]="asyncValidators"
                              (add)="onAdd($event)">
        </app-nickname-factory>
      </li>
    </ul>

    <div class="card-body" [class.bg-light]="!isCollapsed">
      <form [formGroup]="form" (submit)="onSave()">
        <div formArrayName="nicknames">
          <div class="form-group" *ngFor="let control of nicknames.controls; let index = index">
            <label [attr.for]="'nicknameInput' + index">Nickname {{index}}</label>
            <div class="input-group">
              <input [id]="'nicknameInput' + index"
                     [disabled]="!isCollapsed"
                     [readOnly]="!isCollapsed"
                     [formControlName]="index"
                     class="form-control"
                     [class.is-invalid]="showError(control)"
                     type="text"
                     placeholder="Nickname"
                     autocomplete="off">
              <div class="input-group-append">
                <button (click)="onDelete(index)" [disabled]="isPending(control) || !isCollapsed"
                        class="btn btn-outline-secondary"
                        type="button" tabindex="-1">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
              </div>
              <div class="invalid-feedback" *ngIf="showError(control)">
                <span *ngIf="control.errors?.required">Nickname is required</span>
                <span *ngIf="control.errors?.format">{{control.errors.format.message}}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button [disabled]="!form.valid || !isCollapsed" type="submit" class="btn btn-primary" role="button" [tabIndex]="-1">
          Save
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #empty>

    <span>empty message</span>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <app-nickname-factory placeholder="First Nickname"
                              label="Nickname"
                              [ngbCollapse]="isCollapsed"
                              [syncValidators]="syncValidators"
                              [asyncValidators]="asyncValidators"
                              [autofocus]="true"
                              (add)="onAdd($event)">
        </app-nickname-factory>
      </li>
    </ul>
  </ng-template>

</div>

